.footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-bg);
    gap: 1rem;
}

.div {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.text {
    color: var(--primary-text);
    font-size: 1rem;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-text);
}

.icon {
    fill: #ff0000;
    width: 15px;
    height: 15px;
}