@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --primary-bg: #e1e1e1;
    --primary-bg-hover: #b9b9b9;
    --primary-text: #000;
    --secondary-bg: #9c9c9c;
    --secondary-text: #000;
}

.main{
    padding: 1rem;
    width: 100vw;
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}