@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    transition: background-color 1s;
}

:root {
    --primary-bg: #F3F7F0;
    --primary-bg-hover: #e1ebd9;
    --primary-text: #000;
    --secondary-bg: #98C1D9;
    --secondary-text: #000;
    --background: #A29C9B;
    --error: #ce2020;
}

.main {
    animation: fadeIn 1s;
    padding: 1rem;
    width: 100vw;
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}